
header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}
/* Basic styling for the header */
header {
    display: flex;
    justify-content: space-between; /* Aligns the text to the left and links to the right */
    align-items: center; /* Vertically centers items */
    padding: 10px 10px; /* Adds some padding around the header */
    background-color: #ffffff; /* Optional: Background color for the header */
}



/* Styling for the navigation links */
header nav {
    display: flex; /* Places the links horizontally */
}

/* Styling individual links */
header nav a {
    margin-left: 20px; /* Adds space between each link */
    text-decoration: none; /* Removes underline from the links */
    color: #333; /* Text color for the links */
    font-weight: bold; /* Optional: Make links bold */
    font-size: 1em; /* Adjust the font size as needed */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* Optional: Change color on hover */
header nav a:hover {
    color: #FF6347; /* Changes color when hovering over links */
}
